langchain
langchain-community
langchain-groq
langchain-google-genai
langgraph
langsmith
groq
chromadb
sentence-transformers
pypdf
unstructured
fastapi
uvicorn
python-multipart
python-dotenv
pydantic
streamlit
pytesseract
Pillow
pandas
requests
ragas
rouge-score
nltk